<html>
    <head>
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>MISSING TITLE!</title>
        {% endif %}
    </head>
    <body>
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('restart')}}">Restart</a>
        <hr>
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <ul>
            <li>{{message}}</li>
        </ul>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %} {% endblock %}

    </body>
</html>LOEOFOEJFLOEOFOEJFLOEOFOEJFLOEOFOEJF